<footer class="footer">
  <div class="container-flux">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="logo-text">BÓNG ĐÁ 69</h2>
        <a class="logo"><img src="../../assets/images/logo.png"></a>
      </div>
      <div class="col-sm-2">
        <h6>Bắt đầu</h6>
        <ul>
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Đăng nhập</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h6>Về chúng tôi</h6>
        <ul>
          <li><a href="#">Công ty</a></li>
          <li><a href="#">Liên lạc</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h6>Hỗ trợ</h6>
        <ul>
          <li><a href="#">Chat</a></li>
          <li><a href="#">Tổng đài</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <span>Liên lạc với chúng tôi</span>
        <div class="social-networks">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2017 Copyright Football Live Stream </p>
  </div>
</footer>
