.match-form {
  background-color: rgba(245, 245, 245, 0.6);
  margin-bottom: 20px;
}

.match-form.container {
  padding-left: 0px;
  padding-right: 0px;
}

.match-form .text-center {
  background-color: #595a0b;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}

.match-form .form {
  background-color: #FFFFFF;
}

.form .row {
  margin-left: 0px;
  margin-right: 0px;
}

.form-box {
  margin: 20px auto;
}
